@font-face {
    font-family: 'GG Sans';
    font-style: normal;
    font-weight: 300;
    src: url(https://eris.cafe/src/assets/fonts/ggsans/ggsans-Normal.woff2);
}

@font-face {
    font-family: 'GG Sans';
    font-style: normal;
    font-weight: 400;
    src: url(https://eris.cafe/src/assets/fonts/ggsans/ggsans-Medium.woff2);
}

@font-face {
    font-family: 'GG Sans';
    font-style: normal;
    font-weight: 500;
    src: url(https://eris.cafe/src/assets/fonts/ggsans/ggsans-Semibold.woff2);
}

@font-face {
    font-family: 'GG Sans';
    font-style: normal;
    font-weight: 600;
    src: url(https://eris.cafe/src/assets/fonts/ggsans/ggsans-Bold.woff2);
}

@font-face {
    font-family: 'GG Sans';
    font-style: italic;
    font-weight: 300;
    src: url(https://eris.cafe/src/assets/fonts/ggsans/ggsans-NormalItalic.woff2);
}

@font-face {
    font-family: 'GG Sans';
    font-style: italic;
    font-weight: 400;
    src: url(https://eris.cafe/src/assets/fonts/ggsans/ggsans-MediumItalic.woff2);
}

@font-face {
    font-family: 'GG Sans';
    font-style: italic;
    font-weight: 500;
    src: url(https://eris.cafe/src/assets/fonts/ggsans/ggsans-SemiboldItalic.woff2);
}

@font-face {
    font-family: 'GG Sans';
    font-style: italic;
    font-weight: 600;
    src: url(https://eris.cafe/src/assets/fonts/ggsans/ggsans-BoldItalic.woff2);
}

@font-face {
    font-family: 'Arizona';
    src: url(https://eris.cafe/src/assets/fonts/arizona/arizona.woff2);
}
